* {
  margin: 0;
  padding: 0;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.row-flex {
  display: flex;
}

.text {
  font-family: "Lora", serif;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#container{
  min-width: 800px;
}

.category-link {
  font-size: 18px;
}

body{
  background-color: #eeeeee;
}

#header {
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: auto;
  width: 100%;
  justify-content: space-between;
  background-image: linear-gradient(to top, #d5c7bc, #847352);
  z-index: 2;
}

#category-container {
  margin-left: 14px;
  justify-content: space-evenly;
}

#left-section {
  padding: 10px;
}

#middle-section {
  align-items: center;
  font-size: 56px;
  font-weight: 500;
}

#right-section {
  align-items: center;
  padding: 10px;
}

#user-name {
  margin-right: 14px;
  font-size: 16px;
}

#user-img {
  border-radius: 100%;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
  position: relative;
}

#hero-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.category {
  background-color: #eeeeee;
  padding-top: 40px;
  padding-left: 10px;
}

.product-card {
  max-width: 280px;
  border-style: solid;
  border-width: 2px;
  border-color: #d5c7bc;
  background-color: white;
}

.product-card:hover {
  cursor: pointer;
  box-shadow: 0px 4px 12px rgb(100, 100, 100);
}

.add-to-cart {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 8px;
}

#category-1{
  margin-top: 60px;
}

.product-name {
  font-weight: 700;
  font-size: 18px;
  margin-top: 14px;
  margin-left: 8px;
}

.product-price {
  margin-top: 12px;
  color: red;
  font-weight: 500;
  margin-left: 8px;
}

.product-img {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 12px;
}

.product-img-container {
  border-bottom: solid;
  border-width: 2px;
  border-color: #d5c7bc;
}

.category-title {
  margin-bottom: 14px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}

@media screen and (max-width: 1400px) {
  .product-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1100px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

#footer{
  margin-top: 200px;
  padding-bottom:80px;
  justify-content: space-around;
  background-color: #d5c7bc;
}

.footer-link{
  line-height: 24px;
  padding-bottom: 24px;
}

.footer-title{
  margin-bottom: 30px;
  padding-top: 30px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
}

#back-to-top{
  position: fixed;
  bottom: 8%;
  right: 1.5%;
  font-size: 36px;
  border-style: none;
  border-radius: 100px;
  padding: 0px 4px 6px 4px;
  background-color: #84735255;
}

#back-to-top:hover{
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0px 4px 12px rgb(100, 100, 100);
}